#top-bar{
    background-color: green;
    color: white;
    padding: 10px;
    font-size: xx-large;
    font-weight: 200px;
    margin-bottom: 20px;
}

.search-section{
    margin-top: 20px;
    padding: 8px;
}

.search-section input{
    padding: 20px,20px;
    margin: 8px;
    border: 1px solid #cccccc ;
    border-radius: 4px;
}

.search-section button{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 8px;

}

.search-section button:hover{
    background-color: aqua;
    cursor: pointer;

}

#all-plants{
    flex-wrap: wrap;
    padding: 10px;
    display: flex;
}

#plants img{
    border-radius: 10px;
    height: 400px;
    margin-top: 20px;
    width: 400px;
    margin-left: 20px;
    display: block;
}

#plants span{
    margin-left: 20px;
    font-size: x-large;
    
    
    
}

.new{
    display: flex;
    margin-top: 40px;
}

#plants button{
    margin-left: 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#plants button:hover{
    background-color: aqua;
}
#pagination {
    margin-left: 600px;
    margin-top: 50px;
    
}

#pagination button {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 600;
    margin: 20px;
    
}

